.app-description {
	font-family: "Droid Serif";
	font-size: 0.75em;
}
.headline {
	font-family: Lobster;
}
.sub-description {
	font-family: "Helvetica";
}
.description {
	font-family: "Droid Serif";
}