@import url("/fonts.css");

body {
	font-family: Roboto;
}

#site-title {
	display: inline;
	text-transform: capitalize;
	font-family: Lobster;
	font-size: 2em;
	color: #ccc;
}
.lighten {
	color: white;
}

/* fonts begins */

/* fonts ends */

/* padding begins*/
ol li {
	padding:0.5em 0;
	border-bottom: solid #ccc 2px;
}
/* padding ends*/

#chart2 #quick-links {
	float: right;
}

h3 .list-group-item {
	text-transform: uppercase;
	font-family: Lobster;
}
h1 {
	font-family: Tangerine;
}
#insert-footer{
	background-color: #EFEFEF;
	line-height: 3;
}
.axis path{
	fill:none;
}
.axis line {
	background-color: black;
	fill: black;
	opacity: 1;
	color: black;
	width: 4px;
}
.axis tick {
	background-color: black;
	fill: black;
	opacity: 1;
	color: black;	
}

/* stringer pages css rules */

.axis>path.domain {
  opacity: 1;
  fill: none;
  stroke: maroon;
}
g.tick {
  fill:none;
  stroke: black;
  shape-rendering: crispEdges;
}

g.inverse-circle-container {
  border: 2px solid black;
  background-color: black;
}
text.iverse-circle {
  padding: 2em;
  font-size: 36pt;
  color: skyblue;
  /*background-color: black;*/
  margin-top: 3em;
}

/*Table styles*/
table, tr, .table, .table > tr {
  border: 1px solid black;
}

#data-table>.list-group {
  margin-top: 2.5em;
}

@media (max-width: 696px) {
	#insert-menu div>ul.navbar-nav {
		display: none;
	}
}

/* custom buttons */
@media (min-width: 768px) {
	button.btn-warning.btn-round {
	  height: 100px;
	  width: 100px;
	  border-radius: 6em;
	  float: left;
	  position: absolute;
	  left: 9.35em;
	  top: 14.95em;
	}

/*	#insert-menu div>ul.navbar-nav {
		display: none;
	}*/
	
	span#summary-bar-chart {
		position: absolute;
	}
}
@media (min-width: 992px) {
	button.btn-warning.btn-round {
	  height: 100px;
	  width: 100px;
	  border-radius: 6em;
	  float: left;
	  position: absolute;
	  left: 9.35em;
	  top: 14.95em;
	}

/*	#insert-menu div>ul.navbar-nav {
		display: none;
	}*/

	span#summary-bar-chart {
		position: absolute;
	}
}