body {
	font-family: Roboto;
}

#site-title {
	display: inline;
	text-transform: capitalize;
	font-family: Oswald;
	font-size: 4em;
	color: black;
}
#site-title a:hover, #site-title a {
	text-decoration: none;
}
.lighten {
	color: white;
}
#site-description {
	font-family: tangerine;
	font-size: small;
}
#chart2 #quick-links {
	float: right;
}

h3 .list-group-item {
	text-transform: uppercase;
	font-family: Lobster;
}
h1 {
	font-family: Tangerine;
}
#insert-footer{
	background-color: #EFEFEF;
	line-height: 3;
}
.axis path{
	fill:none;
}
.axis line {
	background-color: black;
	fill: black;
	opacity: 1;
	color: black;
	width: 4px;
}
.axis tick {
	background-color: black;
	fill: black;
	opacity: 1;
	color: black;	
}

/* stringer pages css rules */

#chart .axis>path.domain {
  opacity: 1;
  fill: none;
  stroke: maroon;
}
#chart g.tick {
  fill:none;
  stroke: black;
  shape-rendering: crispEdges;
}